*{
	font-family: "Helvetica", sans-serif
}

.text-chord-place{
	font-style: normal;
	text-decoration: underline;
}

body{
	margin:5vh;
}

header{
	border-width:2px;
	border-style:solid;
	padding-left:5vh;
}

.chords{
	height:21px;
}

#content{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.chord{
	cursor:pointer;
}
